<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.OrderActivity"
                  android:parentActivityName=".UI.MenuActivity"
                  android:label="@string/orderLabel"
            />
        <activity
            android:name=".UI.MenuItemDetailsActivity"
            android:label="@string/details"
            android:parentActivityName=".UI.MenuActivity" />
        <activity
            android:name=".UI.MenuActivity"
            android:label="@string/menu" />
        <activity
            android:name=".UI.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".UI.LoginActivity" />
        <activity
            android:name=".UI.LoginActivity"
            android:label="@string/login" />
        <activity android:name=".UI.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPv9lJY6AzbXM2QaRGo8nQEfjD8mFXp9Q" />
    </application>

</manifest>